Repository facebook/facebook-for-woocommerce, pull requests merged in 2023-03, with the labels that each got.

#2482 Fix custom attribute name with special characters breaks sync.
  includes/Products/Sync/Background.php
Labels: type: bug, changelog: fix

#2491 release/3.0.14
  changelog.txt
  facebook-commerce-events-tracker.php
  facebook-for-woocommerce.php
  includes/Products/Sync/Background.php
  package-lock.json
  package.json
  readme.txt
Labels: changelog: none

#2492 Merge trunk into develop after 3.0.14 release
  changelog.txt
  facebook-for-woocommerce.php
  package-lock.json
  package.json
  readme.txt
Labels: changelog: none

#2497 Release 3.0.15 - merge release to trunk
  changelog.txt
  facebook-for-woocommerce.php
  package-lock.json
  package.json
  readme.txt
Labels: changelog: none

#2498 Merge trunk into develop after 3.0.15 release
  changelog.txt
  facebook-for-woocommerce.php
  package-lock.json
  package.json
  readme.txt
Labels: changelog: none

#2501 Fix - View Content events triggering PHP server notices on elementor sites
  facebook-commerce-events-tracker.php
Labels: compatibility, type: bug, changelog: fix

#2499 Fix deprecation notices thrown by nonce_user_logged_out.
  includes/Framework/Utilities/BackgroundJobHandler.php
Labels: type: bug, changelog: fix

#2502 Display Facebook tab and sync settings for external products.
  includes/Admin.php
Labels: type: bug, changelog: fix

#2506 Release/3.0.16
  changelog.txt
  facebook-for-woocommerce.php
  package-lock.json
  package.json
  readme.txt
Labels: changelog: none

#2507 Release/3.0.16
  changelog.txt
  facebook-commerce-events-tracker.php
  facebook-for-woocommerce.php
  includes/Admin.php
  includes/Framework/Utilities/BackgroundJobHandler.php
  package-lock.json
  package.json
  readme.txt
Labels: changelog: none
