Repository facebook/facebook-for-woocommerce, pull requests merged in 2023-04, with the labels that each got.

#2511 Release/3.0.17
  changelog.txt
  facebook-for-woocommerce.php
  package-lock.json
  package.json
  readme.txt
Labels: changelog: none

#2512 Release 3.0.17
  changelog.txt
  facebook-for-woocommerce.php
  package-lock.json
  package.json
  readme.txt
Labels: changelog: none

#2514 Fix selected categories not showing on Product Sets edit page.
  includes/Admin/Product_Sets.php
Labels: type: bug, changelog: fix

#2517 Fix - Fatal error when facebook_config option is empty.
  facebook-commerce-pixel-event.php
Labels: type: bug, changelog: fix

#2519 Release 3.0.18 - merge release into trunk
  changelog.txt
  facebook-commerce-pixel-event.php
  facebook-for-woocommerce.php
  includes/Admin/Product_Sets.php
  package-lock.json
  package.json
  readme.txt
Labels: changelog: none

#2520 Release 3.0.18 - merge trunk into develop
  changelog.txt
  facebook-for-woocommerce.php
  package-lock.json
  package.json
  readme.txt
Labels: changelog: none

#2521 Bump Marketing API version from v16.0
  includes/API.php
Labels: changelog: tweak
