Repository facebook/facebook-for-woocommerce, pull requests merged in 2024-04, with the labels that each got.

#2717 Release 3.1.14 - merge release into trunk
  changelog.txt
  facebook-commerce-pixel-event.php
  facebook-for-woocommerce.php
  package-lock.json
  package.json
  readme.txt
Labels: changelog: none

#2718 Release 3.1.14 - merge trunk into develop
  changelog.txt
  facebook-for-woocommerce.php
  package-lock.json
  package.json
  readme.txt
Labels: changelog: none

#2696 Update test bootstrap.php to resolve notice
  tests/bootstrap.php
Labels: type: bug, changelog: fix

#2698 Update middleware URL.
  includes/Handlers/Connection.php
Labels: changelog: tweak

#2722 Release/3.1.15
  changelog.txt
  facebook-for-woocommerce.php
  package-lock.json
  package.json
  readme.txt
Labels: changelog: none

#2723 Release/3.1.15
  changelog.txt
  facebook-for-woocommerce.php
  includes/Handlers/Connection.php
  package-lock.json
  package.json
  readme.txt
  tests/bootstrap.php
Labels: changelog: none
