Repository facebook/facebook-for-woocommerce, pull requests merged in 2024-07, with the labels that each got.

#2765 Release v3.2.5 - release into trunk
  changelog.txt
  facebook-for-woocommerce.php
  package-lock.json
  package.json
  readme.txt
Labels: changelog: none

#2766 Release v3.2.5 - merge trunk into develop
  changelog.txt
  facebook-for-woocommerce.php
  package-lock.json
  package.json
  readme.txt
Labels: changelog: none

#2762 Add filter facebook_for_woocommerce_fb_product_description on get_fb_description
  includes/fbproduct.php
  tests/Unit/fbproductTest.php
Labels: type: enhancement, changelog: add

#2767 Align PHP require version to composer.json
  facebook-for-woocommerce.php
  readme.txt
Labels: changelog: tweak

#2768 Remove deprecated FILTER_SANITIZE_STRING usage.
  includes/Framework/Helper.php
Labels: type: bug, changelog: fix

#2769 Release/3.2.6
  changelog.txt
  facebook-for-woocommerce.php
  includes/Framework/Helper.php
  includes/fbproduct.php
  package-lock.json
  package.json
  readme.txt
  tests/Unit/fbproductTest.php
Labels: changelog: none

#2770 Release/3.2.6 - `trunk` to `develop`
  changelog.txt
  facebook-for-woocommerce.php
  includes/fbproduct.php
  package-lock.json
  package.json
  readme.txt
Labels: changelog: none

#2773 Update/phpcs config
  includes/API/Catalog/Product_Group/Products/Read/Request.php
  includes/API/Catalog/Product_Group/Products/Read/Response.php
  includes/API/Catalog/Product_Item/Find/Request.php
  includes/API/Catalog/Send_Item_Updates/Request.php
  includes/API/FBE/Configuration/Read/Response.php
  includes/API/FBE/Configuration/Update/Request.php
  includes/API/Pixel/Events/Request.php
  includes/API/Request.php
  includes/API/Traits/Idempotent_Request.php
  includes/API/Traits/Rate_Limited_Response.php
  includes/Admin/Enhanced_Catalog_Attribute_Fields.php
  includes/Admin/Notes/SettingsMoved.php
  includes/Admin/Product_Categories.php
  includes/Admin/Product_Sets.php
  includes/Admin/Products.php
  includes/Admin/Settings.php
  includes/ExternalVersionUpdate/Update.php
  includes/Framework/Api/Base.php
  includes/Framework/Api/Response.php
  includes/Framework/Utilities/BackgroundJobHandler.php
  includes/Jobs/CleanupSkyvergeFrameworkJobOptions.php
  includes/Jobs/DeleteProductsFromFBCatalog.php
  includes/Jobs/ResetAllProductsFBSettings.php
  includes/ProductSync/ProductValidator.php
  includes/Products/Sync/Background.php
  includes/Utilities/DebugTools.php
  includes/fbwpml.php
  phpcs.xml.dist
Labels: changelog: update
